* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #FF6F3C;
    --escuro: #15171c;
    --claro: #FFFFFF;
    --vidro: rgba(225, 225, 225, 0.0);
    --card: rgba(255, 255, 255, 0.05)
}

body {
    background-color: var(--escuro);
    color: var(--primaria);
}

.navegacao {
    width: 100%;
    background: rgba(50, 51, 54, 0.8);
    padding: 1.5rem;
}

.menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    gap: 3rem;
}


.menu__link {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.home {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 4rem;
}

.foto__perfil {
    right: 400px;
    width: 400px;
    border-radius: 40%;
    box-shadow: -10px -3px 46px 19px rgba(255,111,60,0.49);
    border: 4px solid var(--primaria);
}

.home__conteudo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.home__conteudo__titulo {
    font-size: 3.5rem;
    color: var(--primaria);
    font-weight: bold;
}

.home__conteudo__paragrafo {
    font-size: 1.8rem;
    color: var(--claro);
    display: flex;
    justify-content: center;
}

.sobre {
    padding: 6rem 2rem;
}

.sobre__titulo {
    font-size: 3rem;
    color: var(--primaria);
    text-align: center;
    margin-bottom: 35px;
}

.sobre__caixa {
    padding: 3rem;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 50px;
    border: 2px solid var(--vidro);
    backdrop-filter: blur(20px);
    background: var(--card);
    margin-bottom: 30px;
    box-shadow: -10px -3px 46px 19px rgba(255,111,60,0.19);
}

.sobre__caixa__paragrafo {
    text-align: center;
    font-size: 1.2rem;
    color: var(--claro);
}

.projetos {
    padding: 6rem 2rem;
}

.projetos__titulo {
    font-size: 3rem;
    color: var(--primaria);
    text-align: center;
    margin-bottom: 50px;
}

.projetos__caixas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 30px;
    
}

.projetos__cards {
    background: var(--card);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    box-shadow: -10px -3px 46px 19px rgba(255,111,60,0.19);
}

.projeto__imagem {
    height: 250px;
    width: 500px;
    object-fit: cover;
}

.caixa__textos__projetos {
    padding: 1.5rem;
}

.info__projeto {
    margin-bottom: 5px
}

.paragrafo__projeto {
    color: var(--claro);
    line-height: 1.25rem;
}

.contato {
    padding: 6rem 2rem;
}

.contato__titulo {
    font-size: 3rem;
    color: var(--primaria);
    text-align: center;
    margin-bottom: 35px;
}

.contato__caixa {
    max-width: 900px;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: var(--card);
    margin-bottom: 20px;
    box-shadow: -10px -3px 46px 19px rgba(255,111,60,0.19);
    
}


.contato__caixa__conteudo {
    display: flex;
    justify-content: space-around;

}

.direcionamento {
    display: flex;
    align-items: center;
    gap: 30px;

}

.navegao__link {
    text-decoration: none;
    list-style: none;
    color: var(--claro);
    font-size: 1.2rem;
}

.rodape {
    width: 100%;
    background: var(--card);
    padding: 1.5rem;
}

.rodape__paragrafo {
    display: flex;
    justify-content: center;
    font-size: 15px;
}